/* src/styles/global.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global font and background */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
}

/* Links styling */
a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

/* Button styling */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Navigation bar */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #3498db;
}

/* Zoznam produktov */
.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.product-list p {
  margin: 10px 0;
  font-size: 1.1rem;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2c3e50;
  color: white;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Košík */
.cart {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item p {
  margin: 0;
}

.cart-total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

/* Responsive Layout Adjustments */

/* For tablet screens (portrait) */
@media (max-width: 768px) {
  .product-list {
    gap: 15px;
    padding: 10px;
  }

  .product-list img {
    width: 120px;
    height: 120px;
  }

  .cart {
    max-width: 100%;
    padding: 15px;
  }
}

/* For mobile screens */
@media (max-width: 480px) {
  .product-list {
    gap: 10px;
    padding: 5px;
  }

  .product-list img {
    width: 100px;
    height: 100px;
  }

  button {
    padding: 8px 12px;
  }

  .cart {
    max-width: 100%;
    padding: 10px;
  }
}

/* order */
.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-button-container {
  margin-top: 20px;
}

.order-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: #45a049;
}